
.pi-class {
    background-color: #e74c3c;
}

.pc-class {
    background-color: #2ecc71;
}

.obs-class {
    background-color: #808080; /* Gray color for obstacle */
}

.obs-class:hover {
    /* Add hover style if needed */
}

.search-class {
    background-color: #f1c40f;
}

.debug-class {
    background-color: #9b59b6;
}

.path-class {
    background-color: #3498db;
}